# Slack app token for socket-mode event handling
# (if not specified in TRIAGEBOT_SLACK_APP_TOKEN env var)
slack-app-token: xapp-1-xxx
# Slack workspace token
# (if not specified in TRIAGEBOT_SLACK_TOKEN env var)
slack-token: xoxb-xxx
# Destination channel for new bugs
channel: Cxxx
# User ID that will receive error tracebacks via DM
error-notification: Uxxx
# How long of an outage to allow before the channel is notified
watchdog-minutes: 30

# Hostname of the Bugzilla server
bugzilla: bugzilla.redhat.com
# Prefix of user-friendly bug URL
bugzilla-bug-url: https://bugzilla.redhat.com/show_bug.cgi?id=
# Bugzilla API key
# (if not specified in TRIAGEBOT_BUGZILLA_KEY env var)
bugzilla-key: xxx
# Product to scan for NEW bugs
bugzilla-product: OpenShift Container Platform
# Component to scan for NEW bugs
bugzilla-component: RHCOS
# Default assignee for component
bugzilla-assignee: bovik@example.com
# Bugzilla polling interval in seconds
bugzilla-poll-interval: 300
# List of bug numbers to ignore
bugzilla-ignore-bugs: []
